/* ==========================================================================
 * Custom Accordion Styles 
 * 13/12/2018
 * Alan Medina Silva
 ========================================================================== */


.accordion__arrow {
    margin-top: -12px;
}

.acord-title  {
    color: #D81517;
    font-weight: 600;
} 